.header {
    background-color: var(--cor-de-fundo-header);
    height: 145px;
}

.logo {
    width:58%;
    height: 68%;
    margin: 20px 0px 0px 210px;
}

.balao {
    margin: 20px 0px 10px 30px;
    height: 50%;
}

.menu {
    width: 24px;
    height: 24px;
    display: inline-block;
}