.header {
    background-color: var(--cor-de-fundo-header);
    height: 165px;
}

.logo {
    width:58%;
    height: 58%;
    margin: 30px 0px 0px 230px;
}

.balao {
    margin: 20px 0px 5px 30px;
    height: 50%;
    
}